./src/run/log_dir/
.venv/
/.idea
./src/run/wechat_logs.log
./src/run/wechat_logs/
./src/spider/txt/
./src/spider/video/
./src/video_process/data/
.env
.pytest_cache/
blog_faiss_index/
logs/
.idea/
./idea/
./confluence_data/
./confluence_faiss_index/
./confluence_pdf_documents/
./confluence_word_documents/
./blog_pdf_documents/
.env.example

